body { 
   background-image:  url("../image/beer1.jpg");
  
}

.pageHeaderText {
	padding: 1px;	
	display:inline-block;
	float: left;
}

.pageHeaderForm {

	display:inline-block;	
}

.headerMenu {
	padding-lefft: 250px;	
	display:inline-block;
}

.headerForm {

	display:inline-block;	
	float: right;
}
.pageHeaderForm td {
	border: none;
}

.Table {
	display:inline-block;	
}
